%h1 最新リリース
.album-container.border-bottom.pb-2.border-2
  - @albums.each do |album|
    = link_to(image_tag(album.jacket.variant(resize: "300").processed ,class: "album-item", width: "130px"), "albums/#{album.id}", class: "album-background")
.sita-container.mt-4
  .new-comments
    %h3 新着コメント
    - if @comments
      - @comments.each do |comment|
        %ul.comment-card
          %li
            = link_to image_tag(comment.music.album.jacket.variant(resize: "300").processed ,class: "album-item", width: "50px"), album_path(comment.music.album)
            = link_to comment.music.artist, album_music_path(comment.music.album, comment.music)
            %p.d-inline-block -
            = link_to comment.music.name, album_music_path(comment.music.album, comment.music)
          %li.new-comment-item.comment-user
            = link_to comment.user.name, user_path(comment.user)
            = comment.created_at.strftime("%F %R")
          %li.new-comment-item= comment.content
  .new-playlists
    %h3 新着プレイリスト
    - if @playlists
      - @playlists.each do |playlist|
        %ul.playlist-card
          %li
            = link_to playlist.user.name, user_path(playlist.user), class: "me-2"
            = link_to playlist.name, playlist_path(playlist), class: "fw-normal"
          %li
            %p=playlist.comment