%h1 最新リリース
.album-container
  - @albums.each do |album|
    = link_to(image_tag(album.jacket.variant(resize: "300").processed ,class: "album-item", width: "130px"), "albums/#{album.id}", class: "album-background")
.sita-container.mt-4
  .new-comments
    %h3 新着コメント
    - if @comments
      - @comments.each do |comment|
        %ul.comment-card
          %li= link_to(comment.music.name, "/musics/#{comment.music.id}")
          %li.new-comment-item.comment-user
            = comment.user.name + " "
            = comment.created_at.strftime("%F %R")
          %li.new-comment-item= comment.content
  .new-playlists
    %h3 新着プレイリスト
    - if @playlists
      - @playlists.each do |playlist|
        %ul.playlist-card
          %li= link_to("#{playlist.user.name}　#{playlist.name}", "/playlists/#{playlist.id}")
