-provide(:title, 'Home')
%h1 最新リリース
.album-container.border-bottom.pb-2.border-2
  - @albums_released.each do |album|
    - if album.jacket.attached?
      = link_to(image_tag(album.jacket ,class: "album-item", width: "130px"), album_path(album), class: "album-background")
    - else
      = link_to(image_tag("kakukiti" ,class: "album-item", width: "130px"), album_path(album))
      
.sita-container.mt-4
  .new-comments
    %h3 新着コメント
    - if @comments
      - @comments.each do |comment|
        %ul.comment-card
          %li
            = link_to image_tag(comment.album.jacket ,class: "album-item", width: "50px"), album_path(comment.album)
            = link_to comment.music.artist.name, artist_path(comment.music.artist)
            %p.d-inline-block -
            = link_to comment.music.name, album_music_path(comment.album, comment.music)
          %li.new-comment-item.comment-user
            = link_to comment.user.name, user_path(comment.user)
            = comment.created_at.strftime("%F %R")
          %li.new-comment-item= comment.content
  .new-playlists
    %h3 新着プレイリスト
    - if @playlists
      - @playlists.each do |playlist|
        %ul.playlist-card
          %li.ms-2
            = link_to playlist.user.name, user_path(playlist.user), class: "me-2"
            = link_to playlist.name, playlist_path(playlist), class: "fw-normal"
          %li.ms-3
            %p=playlist.description