-provide(:title, 'Home')
- if DaikichiForm.where(form_closed: false).present?
  .daikichi_form_banner
    = link_to daikichi_forms_path do
      = image_tag 'daikichi_vote_banner.gif', width: "500px"
    = link_to daikichi_forms_path do
      = image_tag 'daikichi_vote_banner.gif', width: "500px", class: 'wide-inline-block'
- if @albums_opening_form
  .album_form_banner
    %h1 インデックス情報登録フォーム
    %table.table.align-middle.table-striped
      %thead
        %tr
          %th アルバム
          %th 締め切り
      %tbody
        - @albums_opening_form.each do |album| 
          %tr
            %td= link_to album.name, new_album_music_path(album)
            %td= album.kiki_taikai_date.days_since(14)
%h1.mt-3 最新リリース
.album-container.border-bottom.pb-2.border-2
  - @albums_released.each do |album|
    = link_to album_path(album), class: "album-background" do
      - if album.jacket.attached?
        = image_tag album.jacket_middle ,class: "album-item", width: "130px"
      - else
        .position-relative
          = image_tag("kakukichi" ,class: "album-item", width: "130px")
          .h6.position-absolute.top-50.start-50.translate-middle.bg-primary.text-white.p-1.text-center= album.name

.sita-container.mt-4
  .new-comments
    %h3 新着コメント
    - if @comments
      - @comments.each do |comment|
        %ul.comment-card
          %li
            - if comment.album.jacket.attached?
              = link_to image_tag(comment.album.jacket_small ,class: "album-item", width: "50px"), album_path(comment.album)
            - else
              = link_to image_tag("kakukichi" ,class: "album-item", width: "50px"), album_path(comment.album)
            = link_to comment.music.artist.name, artist_path(comment.music.artist)
            %p.d-inline-block -
            = link_to comment.music.name, album_music_path(comment.album, comment.music)
          %li.new-comment-item.comment-user
            = link_to comment.user.name, user_path(comment.user)
            = comment.created_at.strftime("%F %R")
          %li.new-comment-item= comment.content
  .new-playlists
    %h3 新着プレイリスト
    - if @playlists
      - @playlists.each do |playlist|
        %ul.playlist-card
          %li.ms-2
            = link_to playlist.user.name, user_path(playlist.user), class: "me-2"
            = link_to playlist.name, playlist_path(playlist), class: "fw-normal"
          %li.ms-3
            %p=html_safe_newline(playlist.description)
