<h1>最新リリース</h1>
<div class="album-container">
    <% @albums.each do |a| %>
        <%= link_to(image_tag("#{a.img_path}",class: "album-item", width: "150px"), "albums/#{a.id}") %>
    <% end %>
</div>

<div class="sita-container">
    <div class="new-comments">
        <h1>新着コメント</h1>
        <% if @comments %>
            <% @comments.each do |comment| %>
                <ul>
                    <li><%=link_to(comment.music.name, "/musics/#{comment.music.id}")%></li>
                    <li class="new-comment-item comment-user"><%=comment.user.name%><%=comment.created_at%></li>
                    <li class="new-comment-item"><%=comment.content%></li>
                </ul>
            <% end %>
        <% end %>
    </div>
    <div class="new-playlists">
        <h1>新着プレイリスト</h1>
        <% if @playlists%>
            <% @playlists.each do |playlist| %>
                <ul>
                    <li><%= link_to("#{playlist.user.name}　#{playlist.name}", "/playlists/#{playlist.id}") %></li>
                </ul>
            <% end %>    
        <% end %>
    </div>