<div class="login-forms">
    <h1>ログイン</h1>
    <%= form_with(url: "/login", scope: :session, local: true) do |f| %>

        <ul>
            <li><%= f.label :email %></li>
            <li><%= f.text_field :email %></li>

            <li><%= f.label :password %></li>
            <li><%= f.password_field :password %></li>

            <li><%= f.submit "ログイン" %></li>
        </ul>
    <% end %>
</div>