<div class="login-forms">
    <h1>ログイン</h1>
    <%= form_with(url: "/login", scope: :session, local: true) do |f| %>

        <ul>
            <li><%= f.label :ユーザーネーム %></li>
            <li><%= f.text_field :name, value: @name%></li>

            <li><%= f.label :password %></li>
            <li><%= f.password_field :password, value: @password%></li>

            <%= f.label :remember_me, class: "checkbox inline" do %>
                <li>
                    <%= f.check_box :remember_me %>
                    <span>パスワードを記憶する</span>
                </li>
            <% end %>

            <li><%= f.submit "ログイン" %></li>
        </ul>
    <% end %>
</div>