-provide(:title, "ログイン")
.login-forms
  %h1 ログイン
  .mb-4
    = form_with(url: sessions_path, scope: :session, local: true) do |f|
      %ul
        %li= f.label :ユーザーネーム
        %li= f.text_field :name, value: @name, required: :required
        %li= f.label :password
        %li= f.password_field :password, value: @password, required: :required
        = f.label :remember_me, class: "checkbox inline" do
          %li
            = f.check_box :remember_me
            %span パスワードを記憶する
        %li= f.submit "ログイン", class: "btn btn-primary"
  %ul.list-style-inside
    %li ユーザーネームを「kitchonkun」、パスワードを「サーバーのパスワード」でログインできます。
    %li アカウントを持っていない方はkitchonkunでログインした後アカウントを作成してください。