if(<%=@save%>){
  $('.artist-select').each(function(){
    $(this).prepend("<option value='<%= @artist.id%>'><%=@artist.name%></option> ");
  })
  $('#flash').append('<div><p><%= @artist.name %>を追加しました</p></div>');
}else{
    $('#flash').append('<div><p><%= @artist.errors.full_messages %></p></div>');
}

setTimeout(function(){
  $('#flash div:first').remove();
}, 30000);
