%h1 お気に入り
- number=0
%table.table.align-middle
  %thead
    - @likes.each do |like|
      %tr.align-middle{:class => "track like-form-#{like.id}", :id => number}
        %th.play-button.tr-number-play.position-relative{scope: "row"}
          .tr-number= number+1
          %i.fa-duotone.fa-play.fa.position-absolute.start-0.ms-2.tr-playbutton.pb-2
        %td= link_to(image_tag("#{like.music.album.img_path}",class: "jaket-mini", width: "50px"), album_path(like.music.album.id))
        %td= link_to(like.music.name, music_path(like.music_id))
        %td= link_to(like.music.album.name, album_path(like.music.album.id))
        %td= link_to(like.music.artist, music_path(like.music_id))
        %td= render "shared/unlike", like: like, like_index: @like_index, number: number
        %td.add-playlist
          .add_playlist-point
            %i.fa-solid.fa-plus.fa-config
          .select-playlists
            .select-playlists-close.m-1
              %i.fa-solid.fa-xmark.fa-config
            %ul
              - @playlists.each do |playlist|
                %li
                  = form_with(model: MusicPlaylistRelation.new, local: false) do |f|
                    = hidden_field_tag :music_id, like.music.id
                    = hidden_field_tag :playlist_id, playlist.id
                    = hidden_field_tag :at_playlist_show, false
                    = button_tag type: :submit, class: "like-btn text-start" do
                      = playlist.name
      - number+=1