<h1>お気に入り</h1>

<%# <div class="liked-musics" > %>
    <%number=0%>
    <% @likes.each do |like| %>
        <div class="liked-musics like-form-<%=like.id%>" id="tracknumber<%=number%>">
            <div class="play-button" id="play-<%=like.id%>">
                <button onclick="playButton(<%=number%>)" class="track-number-play" id="playButton<%=number%>">
                    <p class="track-number" id="tr<%=number%>"><%=number+1%></p>
                    <div class="playbutton">
                        <i class="fa-duotone fa-play fa playlistplaybutton"></i>
                    </div>
                </button>
            </div>
            <div class="liked-music-jaket"><%= link_to(image_tag("#{like.music.album.img_path}",class: "jaket-mini", width: "50px"), "/albums/#{like.music.album.id}") %></div>
            <div class="liked-music-name"><%= link_to(like.music.name, "/musics/#{like.music_id}") %></div>
            <div class="liked-music-album"><%= link_to(like.music.album.name, "/albums/#{like.music.album.id}") %></div>
            <div class="liked-music-artist"><%= link_to(like.music.artist, "/musics/#{like.music_id}") %></div>
            <div class="liked-music-like">
                <div>
                    <%= render "shared/unlike", like: like, like_index: @like_index %>
                </div>
            </div>
            <div class="add-playlist">
                <div class="add_playlist-point"><p>…</p></div>
                <div class="select-playlists">
                    <div class="select-playlists-close">
                        <p>x</p>
                    </div>
                    <ul>
                        <% @playlists.each do |playlist| %>
                            <li class="playlist-name">
                                <%= form_with(model: MusicPlaylistRelation.new, local: false) do |f| %>
                                    <%= hidden_field_tag :music_id, like.music.id %>
                                    <%= hidden_field_tag :playlist_id, playlist.id %>
                                    <%= hidden_field_tag :at_playlist_show, false %>
                                    <%= button_tag type: :submit, class: "like-btn" do %>
                                        <%=playlist.name%>
                                    <% end %>
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <%number+=1%>
    <% end %>
<%# </div> %>