<h1>お気に入り</h1>

<div class="liked-musics" >
    <% @likes.each do |like| %>
        <div class="liked-music-name"><%= link_to(like.music.name, "/musics/#{like.music_id}") %></div>
        <div class="liked-music-album"><%= link_to(like.music.album.name, "/albums/#{like.music.album.id}") %></div>
        <div class="liked-music-artist"><%= link_to(like.music.artist, "/musics/#{like.music_id}") %></div>
        <div class="album-music-like">
            <% if Like.find_by(user_id: current_user.id, music_id: like.music_id) %>
                <%= link_to("/likes/#{like.music_id}/destroy", {method: "delete"}) do %>
                    <span class="fa fa-heart liked-btn"></span>
                <% end %>
            <% else %>
                <%= link_to("/likes/#{like.music_id}/create", {method: "post"}) do%>
                    <span class="fa fa-heart unliked-btn"></span>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>