.clearfix
  =form_with(model: @user) do |form|
    .row
      .col-form-label 名前
      .col= form.text_field :name, class: "form-control", value: @user.name, required: :required
    .row
      .col-form-label bio
      .col= form.text_area :bio, class: "form-control", value: @user.bio
    .row
      .col-form-label 入会
      .col= form.date_select :join_date, start_year: 2000, discard_day: true, class: "form-control", value: @user.join_date, required: :required
    .row
      .col-form-label= new ? "パスワード" : "新しいパスワード"
      .col= form.password_field :password, class: "form-control", minlength: 8
    .row
      .col-form-label パスワードを確認
      .col= form.password_field :password_confirmation, class: "form-control", minlength: 8
    -if new
      .row
        .col-form-label サーバーのパスワード
        .col= password_field :auth, :kitchon_server_password, class: "form-control", required: :required
    -if !new
      .row
        .col-form-label 役職
        .col= form.select :role, User.roles_i18n.invert, class: "form-select"
    .row.mt-3.d-inline-block.float-end
      .col
        = form.submit action, class: "btn btn-primary"
