-provide(:title, @user.name)
%h1
  = @user.name
  = "(#{@user.graduate})" if @user.join_date.present?
%p= @user.bio
- if @user == current_user && !(@user.id == 2)
  .mb-3= link_to "編集", edit_user_path(current_user), class: "btn btn-primary"

%h3 プレイリスト
=render 'playlists/playlists'
%h3 アーティスト
=render 'artists/index_table', artists: @user.artists
%h3 デザイナー
=render 'designers/index_table', designers: @user.designers
