-provide(:title, @user.name)
%h1
  = @user.name
  = "(#{@user.graduate})" if @user.join_date.present?
%p= @user.bio
- if @user == current_user && !(@user.id == 2)
  = link_to "編集", edit_user_path(current_user), class: "btn btn-primary"

=render 'playlists/playlists'

-# .artists.mt-3
-#   %h2 名義
-#   %table.table.align-middle
-#     %thead
-#       %tr
-#         %th 名義
-#         -# %th ユーザー
-#         %th bio


-#     %tbody
-#       - @artists.each do |artist|
-#         %tr
-#           %td= link_to artist.name, artist_path(artist)
-#           -# %td
-#           -#   = link_to artist.user.name, user_path(artist.user) if artist.user.present?
-#           %td= artist.bio