    <div class='liked-music-jaket'><%= link_to(image_tag('#{relation.music.album.img_path}',class: 'jaket-mini', width: '50px'), '/albums/#{relation.music.album.id}') %></div>
    <div class='liked-music-name'><%= link_to(relation.music.name, '/musics/#{relation.music.id}') %></div>
    <div class='liked-music-album'><%= link_to(relation.music.album.name, '/albums/#{relation.music.album.id}') %></div>
    <div class='liked-music-artist'><%= link_to(relation.music.artist, '/musics/#{relation.music.id}') %></div>
    <div id='like-form-<%=relation.music.id%>' class='album-music-like'>
        <% if @like = Like.find_by(user_id: current_user.id, music_id: relation.music.id) %>
            <%= render 'shared/unlike', like: @like , like_index: false %>
        <% else %>
            <%= render 'shared/like', unliked_music: relation.music, like_index: false %>
        <% end %>
    </div>
    <div class='add-playlist'>
        <div class='add_playlist-point'><p>…</p></div>
        <div class='select-playlists'>
            <div class='select-playlists-close'>
                <p>x</p>
            </div>
                <% playlists.each do |playlist| %>
                    <div>
                        <%= form_with(model: MusicPlaylistRelation.new, local: false) do |f| %>
                            <%= hidden_field_tag :music_id, relation.music.id %>
                            <%= hidden_field_tag :playlist_id, playlist.id %>
                            <%= hidden_field_tag :at_playlist_show, true %>
                            <%= button_tag type: :submit, class: 'like-btn' do %>
                                <p class='playlist-name'><%=playlist.name%></p>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>
        </div>
    </div>
    
    <div class='music-delete-from-playlist' >
        <% if playlist.user == current_user %>
            <%= form_with(model: relation, local: false, method: 'delete') do |f| %>
                <%= hidden_field_tag :music_id, relation.music.id %>
                <%= hidden_field_tag :playlist_id, relation.playlist.id %>
                <%= hidden_field_tag :relation_id, relation.id %>
                <%= button_tag type: :submit, class: 'like-btn' do %>
                    <p class='delete-btn'>削除</p>
                <% end %>
            <% end %>
        <% end %>
    </div>
