.liked-music-jaket= link_to(image_tag('#{relation.music.album.img_path}',class: 'jaket-mini', width: '50px'), '/albums/#{relation.music.album.id}')
.liked-music-name= link_to(relation.music.name, '/musics/#{relation.music.id}')
.liked-music-album= link_to(relation.music.album.name, '/albums/#{relation.music.album.id}')
.liked-music-artist= link_to(relation.music.artist, '/musics/#{relation.music.id}')
.album-music-like{:id => "like-form-#{relation.music.id}"}
  - if @like = Like.find_by(user_id: current_user.id, music_id: relation.music.id)
    = render 'shared/unlike', like: @like , like_index: false
  - else
    = render 'shared/like', unliked_music: relation.music, like_index: false
.add-playlist
  .add_playlist-point
    %p …
  .select-playlists
    .select-playlists-close
      %p x
    %ul
      - playlists.each do |playlist|
        %li.playlist-name
          = form_with(model: MusicPlaylistRelation.new, local: false) do |f|
            = hidden_field_tag :music_id, relation.music.id
            = hidden_field_tag :playlist_id, playlist.id
            = hidden_field_tag :at_playlist_show, true
            = button_tag type: :submit, class: "like-btn" do
              = playlist.name
.music-delete-from-playlist
  - if playlist.user == current_user
    = form_with(model: relation, local: false, method: 'delete') do |f|
      = hidden_field_tag :music_id, relation.music.id
      = hidden_field_tag :playlist_id, relation.playlist.id
      = hidden_field_tag :relation_id, relation.id
      = button_tag type: :submit, class: 'like-btn' do
        %p.delete-btn 削除
