%tr.align-middle.track{id: number, draggable: "#{true if @at_playlists_show}"}
  %th.play-button.tr-number-play.position-relative.pe-0{scope: "row"}
    .tr-number= number+1
    .position-absolute.top-50.translate-middle.ms-2
      %i.fa-duotone.fa-play.fa.tr-playbutton
  - if !@at_album_show
    - if music.album.jacket.attached?
      %td= link_to(image_tag( music.album.jacket_small ,class: "jaket-mini", width: "50px"), album_path(music.album))
    - else
      %td= link_to(image_tag("kakukiti" ,class: "jaket-mini", width: "50px"), album_path(music.album))
  %td
    = link_to(music.name, album_music_path(music.album, music))
    %br
    .artist-name-small= link_to(music.artist.name, artist_path(music.artist))
  - if !@at_album_show
    %td.album-name-big= link_to(music.album.name, album_path(music.album))
  %td.artist-name-big= link_to(music.artist.name, artist_path(music.artist))
  - if @like_index
    %td.like-btn= render "shared/unlike", like: music.likes.find_by(user_id: current_user.id), like_index: true, number: number
  - else
    - if like = music.likes.find_by(user_id: current_user.id)
      %td{id: "like#{number}"}= render "shared/unlike", like: like , like_index: false, number: number
    - else
      %td{id: "like#{number}"}= render "shared/like", unliked_music: music, like_index: false, number: number
  %td.add-playlist
    .add_playlist-point
      %i.fa-solid.fa-plus.fa-config
    .select-playlists.d-none
      .select-playlists-close.m-1
        %i.fa-solid.fa-xmark.fa-config
      %ul
        - @playlists.each do |playlist|
          %li
            = form_with(model: MusicPlaylistRelation.new, local: false) do |f|
              = hidden_field_tag :music_id, music.id
              = hidden_field_tag :playlist_id, playlist.id
              = hidden_field_tag :at_playlist_show, false
              = button_tag type: :submit, class: "text-start border-0 bg-transparent" do
                = playlist.name
  - if @at_playlists_show == true && @playlist.user == current_user
    %td
      = button_tag class: "delete-btn border-0 bg-transparent" do
        削除
  - if current_user.editor?
    %td
      .btn.btn-primary.ms-3
        =link_to "編集", edit_album_music_path(music.album, music), class: "text-white"

