%tr.align-middle.track{id: number, draggable: "#{true if @at_playlists_show}"}
  %th.play-button.tr-number-play.position-relative.pe-0{scope: "row"}
    .tr-number
      -if @at_album_show
        =music.track
      -elsif @results.present?
        =@results[number][:rank]
      -elsif @daikichi.present?
        =music.d_track
      -else
        =number+1
    -# .position-absolute.top-50.translate-middle.ms-2
    -#   %i.fa-duotone.fa-play.fa.tr-playbutton
  - if !@at_album_show
    - if music.album.jacket.attached?
      %td= link_to(image_tag( music.album.jacket_small ,class: "jacket-mini", width: "50px"), album_path(music.album))
    - else
      %td= link_to(image_tag("kakukichi" ,class: "jacket-mini", width: "50px"), album_path(music.album))
  %td
    = link_to(music.name, album_music_path(music.album, music))
    %br
    .artist-name-small= link_to(music.artist.name, artist_path(music.artist))
  - if !@at_album_show
    %td.album-name-big= link_to(music.album.name, album_path(music.album))
  %td.artist-name-big= link_to(music.artist.name, artist_path(music.artist))
  - if @infos.present?
    %td{data:{music_id: music.id, like_id: Like.find_by(music_id: music.id, user_id: current_user.id)&.id}}
      - if @like_index
        %i.fa.fa-heart.liked-btn.delete-btn.delete-like-btn
      - else
        - if like = music.likes.find_by(user_id: current_user.id)
          %i.fa.fa-heart.liked-btn.delete-like-btn
        - else
          %i.fa.fa-heart.unliked-btn.create-like-btn

    %td.add-playlist
      .add_playlist-point
        %i.fa-solid.fa-plus.fa-config
      .select-playlists.d-none
        .select-playlists-close.m-1
          %i.fa-solid.fa-xmark.fa-config
        %ul
          - @playlists.each do |playlist|
            %li
              = form_with(model: MusicPlaylistRelation.new, local: false) do |f|
                = hidden_field_tag :music_id, music.id
                = hidden_field_tag :playlist_id, playlist.id
                = hidden_field_tag :at_playlist_show, false
                = button_tag type: :submit, class: "text-start border-0 bg-transparent" do
                  = playlist.name

  - if @at_playlists_show == true && @playlist.user == current_user
    %td
      = button_tag class: "delete-btn relation-delete-btn border-0 bg-transparent", data: {relation_id: @relations[number].id} do
        削除
  - if current_user.editor?
    %td
      =link_to "編集", edit_album_music_path(music.album, music), class: "text-white btn btn-primary ms-3"
  - if @results.present?
    %td=@results[number][:three_point]
    %td=@results[number][:two_point]
    %td=@results[number][:one_point]
    %td=@results[number][:total_point]
    %td
      ="#{@results[number][:length]/60}分#{@results[number][:length]%60}秒"
    %td
      ="#{@results[number][:total_length]/60}分#{@results[number][:total_length]%60}秒"

- if current_user.editor? && @at_album_show
  %tr
    %td{colspan: 6}
      =render 'musics/form', album: music.album, music: music, action: '更新', edit: true, at_album_show: true, local: false
