= form_with(model:like, local: false, html: {method: :delete}) do |f|
  = hidden_field_tag :number, number
  = hidden_field_tag :like_index, like_index
  - if like_index
    = button_tag type: :submit, class: "heart-btn delete-btn" do
      %span.fa.fa-heart.liked-btn
  - else
    = button_tag type: :submit, class: "heart-btn" do
      %span.fa.fa-heart.liked-btn
