%table.table.align-middle.table-striped
  %thead
    %tr
      %th 名義
      %th ユーザー
      %th bio
      %th ジャケット
      %th 編集


  %tbody
    - designers.each do |designer|
      %tr
        %td= link_to designer.name, designer_path(designer)
        %td
          -if designer.users.present?
            - designer.users.each do |user|
              = link_to user.name, user_path(user) 
        %td= designer.bio
        %td
          - designer.albums.each do |album|
            = link_to(image_tag(album.jacket_small ,class: "jaket-mini", width: "50px"), album_path(album)) if album.jacket.attached?
        %td= link_to '編集', edit_designer_path(designer), class: 'btn btn-primary btn-sm'
        
