-provide(:title, "アルバム一覧")
.album-container
  %h3 既リリース
  - @albums.where(released: true).each do |album|
    = link_to album_path(album), class: "album-background" do
      - if album.jacket.attached?
        = image_tag(album.jacket_middle ,class: "album-item", width: "130px")
      - else
        .position-relative
          = image_tag("kakukiti" ,class: "album-item opacity-50 position-relative", width: "130px")
          .h6.position-absolute.top-50.start-50.translate-middle.bg-primary.text-white.p-1= album.name

- if current_user.editor?
  .over-flow-hidden
    .btn.btn-primary.m-3.float-end=link_to "作成", new_album_path, class: "text-white"

.album-container.mt-5
  %h3 未リリース
  - @albums.where(released: false).each do |album|
    = link_to album_path(album), class: "album-background" do
      - if album.jacket.attached?
        = image_tag(album.jacket_middle ,class: "album-item", width: "130px")
      - else
        .position-relative
          = image_tag("kakukiti" ,class: "album-item opacity-50 position-relative", width: "130px")
          .h5.position-absolute.top-50.start-50.translate-middle.bg-primary.text-white.p-1.text-center= album.name
