-provide(:title, @album.name)
.album-info.mb-4
  .album-info-jaket
    - if @album.jacket.attached?
      = image_tag(@album.jacket_middle ,class: "album-jaket-img")
    - else
      .position-relative
        = image_tag("kakukiti" ,class: "album-jaket-img opacity-50 position-relative")
        .h4.position-absolute.top-50.start-50.translate-middle.bg-primary.text-white.p-3.text-center= @album.name

  .album-info-text
    %div.ms-5
      %h1= @album.name
      %h6.mt-3= @album.kiki_taikai_date
      - if !@album.designer.nil?
        %h6.mt-3
          Designed by 
          =link_to @album.designer.name, designer_path(@album.designer)
   
.container-fluid.mb-4.h-auto.overflow-hidden
  -if current_user.editor?
    .add-edit.clearfix.mb-2
      .btn.btn-info#add-music.d-inline-block.me-2 曲を追加
      =link_to "アルバムを編集", edit_album_path(@album), class: "btn btn-info me-2 d-inline-block"
    .download.clearfix.mb-2
      =link_to "インデックス情報ダウンロード", album_index_path(@album), method: :post, class: "btn btn-info me-2 d-inline-block"
      =link_to "曲リストダウンロード", album_music_list_path(@album), method: :post, class: "btn btn-info me-2 d-inline-block"
    .index-info-form.clearfix.mb-2
      =link_to "インデックス情報登録フォーム", new_album_music_path(@album), class: "btn btn-info me-2 d-inline-block"
      %i.fa-solid.fa-paperclip.btn.btn-light.me-2.d-inline-block#copy-form-link

.d-none#add-music-form
  =render "musics/form", album: @album, music: @album.musics.build, action: "作成", edit: false, confirm: "追加しますか", at_album_show: true, local: false

= render "musics/music", musics: @musics

-if current_user.editor?
  = javascript_include_tag 'music_new.js'
  = javascript_include_tag 'copy_link.js'
