-provide(:title, @album.name)

.album-info.mb-3
  .album-info-jacket
    - if @album.jacket.attached?
      .jacket-big= image_tag(@album.jacket_middle ,class: "album-jacket-img")
      .jacket-small= image_tag(@album.jacket_middle ,class: "album-item", width: "130px")
    - else
      .position-relative
        .jacket-big= image_tag("kakukichi" ,class: "album-jacket-img opacity-50 position-relative")
        .jacket-small= image_tag("kakukichi" ,class: "album-item", width: "130px")

  .album-info-text
    %div.ms-5
      .album-name-big
        %h1= @album.name
      .album-name-small
        %h6= @album.name
      %h6.mt-3= @album.kiki_taikai_date
      - if !@album.designer.nil?
        %h6.mt-3
          Designed by 
          =link_to @album.designer.name, designer_path(@album.designer)
      %p
        = @total_length/60
        åˆ†
        = @total_length%60
        ç§’
      =link_to "ğ•ã§å…±æœ‰", "https://twitter.com/share?url=#{album_url(@album)}&text=#{@album.name}", target: "blank", class: 'btn btn-primary mb-3 btn-sm'
      =link_to "form", new_album_music_path(@album), class: 'btn btn-primary mb-3 btn-sm'
   
.container-fluid.mb-4.h-auto.overflow-hidden
  -if current_user.editor?
    .add-edit.clearfix.mb-2
      =link_to "æ›²ã®é•·ã•ã‚’ç™»éŒ²", album_add_music_length_path(@album), method: :post, class: "btn btn-info me-2 d-inline-block"
      =link_to "ã‚¢ãƒ«ãƒãƒ ã‚’ç·¨é›†", edit_album_path(@album), class: "btn btn-info me-2 d-inline-block"
    .download.clearfix.mb-2
      =link_to "ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹æƒ…å ±ãƒ€ã‚¦ãƒ³ãƒ­ãƒ¼ãƒ‰", album_index_path(@album), method: :post, class: "btn btn-info me-2 d-inline-block"
      =link_to "æ›²ãƒªã‚¹ãƒˆãƒ€ã‚¦ãƒ³ãƒ­ãƒ¼ãƒ‰", album_music_list_path(@album), method: :post, class: "btn btn-info me-2 d-inline-block"
    .index-info-form.clearfix.mb-2
      =link_to "ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹æƒ…å ±ç™»éŒ²ãƒ•ã‚©ãƒ¼ãƒ ", new_album_music_path(@album), class: "btn btn-info me-2 d-inline-block"
      .btn.btn-info#copy-form-link
        ãƒ•ã‚©ãƒ¼ãƒ ã®ãƒªãƒ³ã‚¯ã‚’ã‚³ãƒ”ãƒ¼
        %i.fa-solid.fa-paperclip.me-2.d-inline-block

= render "musics/music", musics: @musics

-if current_user.editor?
  = javascript_include_tag 'music_new.js'
  = javascript_include_tag 'copy_link.js'

=javascript_include_tag 'music/select_artist_search'
