<div class="album-info">
    <div class="album-info-jaket">
        <%= image_tag(@album.img_path, class: "album-jaket-img") %>
    </div>
    <div class="album-info-text">
        <div>
            <h1><%= @album.name %></h1>
        </div>
    </div>
</div>

<div class="album-musics" >
    <%number = 0%>
    <% @musics.each do |music| %>
        <div class="music-in-album" id="<%=number%>">
            <div class="play-button">
                <button class="track-number-play">
                    <p class="track-number"><%=number+1%></p>
                    <div class="playbutton">
                        <i class="fa-duotone fa-play fa playlistplaybutton"></i>
                    </div>
                </button>
            </div>
            <div class="album-music-track">
                <div class="album-music-name">
                    <%= link_to(music.name, "/musics/#{music.id}") %>
                </div>
            </div>
            <div class="album-music-track">
                <div class="album-artist-name">
                    <%= link_to(music.artist, "/musics/#{music.id}") %>
                </div>
            </div>
            <div class="album-music-like">
                <div class="like-form-<%=music.id%>">
                    <% if @like = Like.find_by(user_id: current_user.id, music_id: music.id) %>
                        <%= render "shared/unlike", like: @like , like_index: false %>
                    <% else %>
                        <%= render "shared/like", unliked_music: music, like_index: false %>
                    <% end %>
                </div>
            </div>
            <div class="album-music-track">
                <div class="add-playlist">
                    <div class="add_playlist-point"><p>…</p></div>
                    <div class="select-playlists">
                        <div class="select-playlists-close">
                            <p>x</p>
                        </div>
                        <ul>
                            <% @playlists.each do |playlist| %>
                                <li class="playlist-name">
                                    <%= form_with(model: MusicPlaylistRelation.new, local: false) do |f| %>
                                        <%= hidden_field_tag :music_id, music.id %>
                                        <%= hidden_field_tag :playlist_id, playlist.id %>
                                        <%= hidden_field_tag :at_playlist_show, false %>
                                        <%= button_tag type: :submit, class: "like-btn" do %>
                                            <%=playlist.name%>
                                        <% end %>
                                    <% end %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
            <%number += 1%>
        </div>
    <% end %>
</div>