-provide(:title, @params)
%h1
  = @params
  での検索結果

%h2 曲
- if @musics.present?
  = render "musics/music"
- else
  %p
    = @params
    を含む曲は見つかりませんでした

%h2 ユーザー
- if @users.present?
  %table.table.align-middle
    %thead
      %tr
        %th 名前
        -# %th ユーザー
        %th bio


    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.name, user_path(user)
          -# %td
          -#   = link_to artist.user.name, user_path(artist.user) if artist.user.present?
          %td= user.bio

- else
  %p
    = @params
    を含むユーザーは見つかりませんでした
  %p

%h2 プレイリスト
- if @result_playlists.present?
  %table.table.align-middle
    %thead
      %tr
        %th ユーザー
        %th プレイリスト
        %th 説明


    %tbody
      - @result_playlists.each do |playlist|
        %tr
          %td= link_to playlist.user.name, user_path(playlist.user)
          %td= link_to playlist.name, playlist_path(playlist)
          -# %td
          -#   = link_to playlist.user.name, user_path(playlist.user) if playlist.user.present?
          %td= playlist.description
- else
  %p
    = @params
    を含むプレイリストは見つかりませんでした

%h2 アーティスト
- if @artists.present?
  %table.table.align-middle
    %thead
      %tr
        %th 名義
        -# %th ユーザー
        %th bio


    %tbody
      - @artists.each do |artist|
        %tr
          %td= link_to artist.name, artist_path(artist)
          -# %td
          -#   = link_to artist.user.name, user_path(artist.user) if artist.user.present?
          %td= artist.bio

