-provide(:title, "「#{@params}」での検索結果")
%h1
  = "「#{@params}」"
  での検索結果

%h2 曲
- if @musics.present?
  = render "musics/music"
- else
  %p
    = @params
    を含む曲は見つかりませんでした

%h2 アルバム
- if @albums.present?
  .album-container
    - @albums.where(released: true).each do |album|
      = link_to album_path(album), class: "album-background" do
        - if album.jacket.attached?
          = image_tag(album.jacket_middle ,class: "album-item", width: "130px")
        - else
          .position-relative
            = image_tag("kakukiti" ,class: "album-item opacity-50 position-relative", width: "130px")
            .h6.position-absolute.top-50.start-50.translate-middle.bg-primary.text-white.p-1= album.name

%h2 ユーザー
- if @users.present?
  %table.table.align-middle
    %thead
      %tr
        %th 名前
        -# %th ユーザー
        %th bio


    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.name, user_path(user)
          -# %td
          -#   = link_to artist.user.name, user_path(artist.user) if artist.user.present?
          %td= user.bio

- else
  %p
    = @params
    を含むユーザーは見つかりませんでした
  %p

%h2 プレイリスト
- if @result_playlists.present?
  =render 'playlists/playlists', playlists: @result_playlists
- else
  %p
    = @params
    を含むプレイリストは見つかりませんでした


%h2 アーティスト
- if @artists.present?
  =render 'artists/index_table', artists: @artists
- else
  %p
    = @params
    を含むアーティストは見つかりませんでした

%h2 デザイナー
-if @designers.present?
  =render 'designers/index_table', designers: @designers
-else
  %p
    = @params
    を含むデザイナーは見つかりませんでした

