%h1
  = @params
  での検索結果

%h2 曲
- if @musics.present?
  = render "musics/music"
- else
  %p
    = @params
    を含む曲は見つかりませんでした

%h2 ユーザー
- if @result_users.present?
  %ul
    - @result_users.each do |user|
      %li= link_to user.name, user_path(user)
- else
  %p
    = @params
    を含むユーザーは見つかりませんでした
  %p

%h2 プレイリスト
- if @result_playlists.present?
  %ul
    - @result_playlists.each do |playlist|
      %li= link_to "#{playlist.user.name}　#{playlist.name}", "/playlists/#{playlist.id}"
- else
  %p
    = @params
    を含むプレイリストは見つかりませんでした