.rules
  %h2 ルール
  %ul
    - @intro_quizzes.each do |quiz|
      %li= link_to quiz.name, "/intro_quizzes/#{quiz.id}", class: "h4"

.rank.mt-5
  %h2 ランキング
  - n = 1
  %table.table.table-striped.align-middle
    %thead
      %tr
        %th{scope: "col"} 順位
        %th{scope: "col"} 名前
        %th{scope: "col"} タイム
        %th{scope: "col"} 日付
    %hbody
      - @results.each do |result|
        %tr
          %th{scope: "row"}
            = n
            位
          %td
            =link_to result.user.name, user_path(result.user)
          %td
            = result.clear_time
          %td
            = result.created_at.strftime("%F %R")
        - n+=1