#quiz-start.container 
  %p.h1.text-center 流れる曲のタイトルをクリックしよう。
  .btn.btn-primary#start-btn.mb-1.d-block.mx-auto
    スタート

#count-down.d-none
  %h1#count-down-number.text-center
    3

#quiz-play.position-relative.d-none
  .container-fluid.quiz-ui.mb-3.bg-white.py-3.row
    .col
      .row
        %h6.d-inline-block 正解数
        %h6.d-inline-block#point= "0/#{@q_num}"
      .row
        %h6.d-inline-block 不正解数
        %h6.d-inline-block#false-count 0
    .col
      .h6.align-middle タイム
      .h1.d-inline.align-middle#time 00:00.000

    %input#answer.form-control.mb-1{type: "text", placeholder: "絞り込み"}
  %audio#answer-audio
  = audio_tag("correct", id: "correct")
  = audio_tag("incorrect", id: "incorrect")

  .answers
    - @musics_all.each do |music|
      .btn.btn-secondary.m-1.answer-btn{id: "ans#{music.id}"}
        = music[:artist]
        \- #{music[:name]}

#clear.d-none
  .h1 クリアー！！！！！
  .h3.d-inline-block タイム
  .h3#clear-time.d-inline-block
  %div.my-3
    =link_to intro_quizzes_path do
      %button.btn.btn-danger →ランキングを確認する←
  .h6 答え
  = render "musics/music"

= javascript_include_tag "intro_quiz.js", data: {"turbolinks" => false}