%h1
  = @daikichi_form.name
  投票一覧

%table.table.align-middle.table-striped
  %thead
    %tr
      %th ユーザー
      %th 3点
      %th 2点
      %th 1点
      %th
      %th
      %th

  %tbody
    - @daikichi_votes.each do |daikichi_vote|
      %tr
        %td= daikichi_vote.user.name
        %td
          %ul
          - daikichi_vote.three_point_musics.each do |music_id|
            -three_point_music = Music.find(music_id)
            %li=link_to three_point_music.name, album_music_path(three_point_music.album, three_point_music) 
        %td
          %ul
          - daikichi_vote.two_point_musics.each do |music_id|
            -two_point_music = Music.find(music_id)
            %li=link_to two_point_music.name, album_music_path(two_point_music.album, two_point_music) 
        %td
          %ul
          - daikichi_vote.one_point_musics.each do |music_id|
            -one_point_music = Music.find(music_id)
            %li=link_to one_point_music.name, album_music_path(one_point_music.album, one_point_music) 
        %td= link_to '確認', daikichi_form_daikichi_vote_path(@daikichi_form, daikichi_vote)
        %td= link_to '編集', edit_daikichi_form_daikichi_vote_path(@daikichi_form, daikichi_vote)
        %td= link_to '削除', daikichi_form_daikichi_vote_path(@daikichi_form, daikichi_vote), method: :delete, data: { confirm: '本当に削除しますか？' }
