<h1><%= @params %>での検索結果</h1>

<h2>曲</h2>
<% if !@result_musics.empty? %>
    <%number=0%>
    <% @result_musics.each do |music| %>
        <div class="liked-musics" id="tracknumber<%=number%>" >
            <div class="play-button" id="play-<%=music.id%>">
                <button onclick="playButton(<%=number%>)" class="track-number-play" id="playButton<%=number%>">
                    <p class="track-number" id="tr<%=number%>"><%=number+1%></p>
                    <div class="playbutton">
                        <i class="fa-duotone fa-play fa playlistplaybutton"></i>
                    </div>
                </button>
            </div>
            <div class="liked-music-jaket"><%= link_to(image_tag("#{music.album.img_path}",class: "jaket-mini", width: "50px"), "/albums/#{music.album.id}") %></div>
            <div class="liked-music-name"><%= link_to(music.name, "/musics/#{music.id}") %></div>
            <div class="liked-music-album"><%= link_to(music.album.name, "/albums/#{music.album.id}") %></div>
            <div class="liked-music-artist"><%= link_to(music.artist, "/musics/#{music.id}") %></div>
            <div class="album-music-like like-form-<%=music.id%>">
                <% if @like = Like.find_by(user_id: current_user.id, music_id: music.id) %>
                    <%= render "shared/unlike", like: @like , like_index: false %>
                <% else %>
                    <%= render "shared/like", unliked_music: music, like_index: false %>
                <% end %>
            </div>
            <div class="add-playlist">
                <div class="add_playlist-point"><p>…</p></div>
                <div class="select-playlists">
                    <div class="select-playlists-close">
                        <p>x</p>
                    </div>
                    <ul>
                        <% @playlists.each do |playlist| %>
                            <li class="playlist-name">
                                <%= form_with(model: MusicPlaylistRelation.new, local: false) do |f| %>
                                    <%= hidden_field_tag :music_id, music.id %>
                                    <%= hidden_field_tag :playlist_id, playlist.id %>
                                    <%= hidden_field_tag :at_playlist_show, false %>
                                    <%= button_tag type: :submit, class: "like-btn" do %>
                                        <%=playlist.name%>
                                    <% end %>
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <%number+=1%>
    <% end %>
<% else %>
    <p><%= @params %>を含む曲は見つかりませんでした<p>
<% end %>

<h2>ユーザー</h2>
<% if !@result_users.empty?%>
        <ul>
            <% @result_users.each do |user| %>
                <li><%= link_to(user.name, "/users/#{user.id}") %></li>
            <% end %>
        </ul>
    
<% else%>
    <p><%= @params %>を含むユーザーは見つかりませんでした<p>
<% end %>

<h2>プレイリスト</h2>
<% if !@result_playlists.empty?%>
        <ul>
            <% @result_playlists.each do |playlist| %>
                <li><%= link_to("#{playlist.user.name}　#{playlist.name}", "/playlists/#{playlist.id}") %></li>
            <% end %>
        </ul>
    
<% else%>
    <p><%= @params %>を含むプレイリストは見つかりませんでした<p>
<% end %>