.edit-playlist.d-none
  .new-playlist-form
    .new-playlist-form-content
      .x
        %i.fa-solid.fa-x.x-icon.fa-config
      .new-playlist-form-content-form
        = form_with(model: @playlist, local: false) do |f|
          %ul
            %li= f.label :プレイリスト名
            %li= f.text_field :name, class: "form-name", value: @playlist.name
            %li= f.label :説明・コメント
            %li= f.text_area :comment, class: "new-playlist-comment", value: @playlist.comment
            = f.label :public, :公開する do
              %li
                = f.check_box :public
                %span 公開する
            %li= f.submit "更新", class: "new-playlist-submit-btn"

.playlist-info.mb-3
  %h1#playlist-name.mt-3= @playlist.name
  - if @playlist.public == 1
    %span.plivate-public 公開
  - else
    %span.plivate-public 非公開
  %h3= link_to(@playlist.user.name, "/users/#{@playlist.user.id}")
  .playlist-comment
    %p#playlist-comment-content
      = @playlist.comment
  - if current_user == @playlist.user
    .playlist-edit-delete
      = link_to("削除", "/playlists/#{@playlist.id}", method: :delete, data: { confirm: "本当に消しますか" })
      %span#edit-playlist 編集

= render "musics/music"
= javascript_include_tag 'edit_playlist.js'
