<h1><%= @playlist.name %></h1>
<%= link_to("削除", "/playlists/#{@playlist.id}", method: :delete, data: { confirm: "本当に消しますか" }) %>

<div class="musics-in-the-playlist " >
    <% @musics.each do |music| %>
        <div class="liked-music-jaket"><%= link_to(image_tag("#{music.album.img_path}",class: "jaket-mini", width: "50px"), "/albums/#{music.album.id}") %></div>
        <div class="liked-music-name"><%= link_to(music.name, "/musics/#{music.id}") %></div>
        <div class="liked-music-album"><%= link_to(music.album.name, "/albums/#{music.album.id}") %></div>
        <div class="liked-music-artist"><%= link_to(music.artist, "/musics/#{music.id}") %></div>
        <div class="album-music-like">
            <% if Like.find_by(user_id: current_user.id, music_id: music.id) %>
                <%= link_to("/likes/#{music.id}/destroy", {method: "delete"}) do %>
                    <span class="fa fa-heart liked-btn"></span>
                <% end %>
            <% else %>
                <%= link_to("/likes/#{music.id}/create", {method: "post"}) do%>
                    <span class="fa fa-heart unliked-btn"></span>
                <% end %>
            <% end %>
        </div>
        <div class="add-playlist">
            <div class="add_playlist-point"><p>…</p></div>
            <div class="select-playlists">
                <div class="select-playlists-close">
                    <p>x</p>
                </div>
                <ul>
                    <% @playlists.each do |playlist| %>
                        <li><%= link_to(playlist.name, "/music_playlist_relations/create/#{music.id}/#{playlist.id}", method: "post")%></li>
                    <% end %>
                </ul>
            </div>
        </div>
        <div class="music-delete-from-playlist" >
            <%= link_to("削除", "/music_playlist_relations/destroy/#{music.id}/#{@playlist.id}", method: "delete") %>
        </div>
    <% end %>
</div>