<div class="edit-playlist">
    <div class="new-playlist-form">
        <div class="new-playlist-form-content">
            <div class="x">
            <i class="fa-solid fa-x x-icon fa-config" class="x"></i>      
            </div>
            <div class="new-playlist-form-content-form">
            <%= form_with(model: @playlist, local: false) do |f| %>
                <ul>
                    <li><%= f.label :プレイリスト名 %></li>
                    <li><%= f.text_field :name, class: "form-name", value: @playlist.name%></li>
                    <li><%= f.label :説明・コメント %></li>
                    <li><%= f.text_area :comment, class: "new-playlist-comment", value: @playlist.comment  %></li>
                    <li>
                    <%= f.label :公開する do %>
                        <%= f.check_box :public %>
                        <span>公開する</span>
                    <% end %>
                    </li>
                <li><%= f.submit "更新", class: "new-playlist-submit-btn" %></li>

                </ul>
            <% end %>
            </div>
        </div>
    </div>
</div>

<div class="playlist-info">
    <h1 id="playlist-name"><%= @playlist.name %></h1>
    <% if @playlist.public == 1 %>
        <span class="plivate-public">公開</span>
    <% else %>
        <span class="plivate-public">非公開</span>
    <% end %>
    <h3><%= link_to(@playlist.user.name, "/users/#{@playlist.user.id}") %></h3>
    <div class="playlist-comment">
        <p id="playlist-comment-content"><%= @playlist.comment %> </p>
    </div>
    <% if current_user == @playlist.user%>
        <div class="playlist-edit-delete">
            <%= link_to("削除", "/playlists/#{@playlist.id}", method: :delete, data: { confirm: "本当に消しますか" }) %>
            <span id="edit-playlist">編集</span>
        </div>
    <% end %>
</div>

<div class="music-list">
    <% number = 0 %>
    <% @relations.each do |relation| %>
        <div class="musics-in-the-playlist relation-<%=relation.id%>" id="tracknumber<%=number%>" ondblclick="playButton(<%=number%>)">
            <div class="play-button" id="play-<%=relation.id%>">
                <button onclick="playButton(<%=number%>)" class="track-number-play" id="playButton<%=number%>">
                    <p class="track-number" id="tr<%=number%>"><%=number+1%></p>
                    <div class="playbutton">
                        <i class="fa-duotone fa-play fa playlistplaybutton"></i>
                    </div>
                </button>
            </div>
            <div class="liked-music-jaket"><%= link_to(image_tag("#{relation.music.album.img_path}",class: "jaket-mini", width: "50px"), "/albums/#{relation.music.album.id}") %></div>
            <div class="liked-music-name"><%= link_to(relation.music.name, "/musics/#{relation.music.id}") %></div>
            <div class="liked-music-album"><%= link_to(relation.music.album.name, "/albums/#{relation.music.album.id}") %></div>
            <div class="liked-music-artist"><%= link_to(relation.music.artist, "/musics/#{relation.music.id}") %></div>
            <div class="album-music-like like-form-<%=relation.music.id%>">
                <% if @like = Like.find_by(user_id: current_user.id, music_id: relation.music.id) %>
                    <%= render "shared/unlike", like: @like , like_index: false %>
                <% else %>
                    <%= render "shared/like", unliked_music: relation.music, like_index: false %>
                <% end %>
            </div>
            <div class="add-playlist">
                <div class="add_playlist-point"><p>…</p></div>
                <div class="select-playlists">
                    <div class="select-playlists-close">
                        <p>x</p>
                    </div>
                    <ul>
                        <% @playlists.each do |playlist| %>
                            <li class="playlist-name">
                                <%= form_with(model: MusicPlaylistRelation.new, local: false) do |f| %>
                                    <%= hidden_field_tag :music_id, relation.music.id %>
                                    <%= hidden_field_tag :playlist_id, playlist.id %>
                                    <%= hidden_field_tag :at_playlist_show, true %>
                                    <%= button_tag type: :submit, class: "like-btn" do %>
                                        <%=playlist.name%>
                                    <% end %>
                                <% end %>
                            </li>
                        <% end %>
                    </ul>  
                </div>
            </div>
            
            <div class="music-delete-from-playlist" >
                <% if @playlist.user == current_user %>
                    <%= form_with(model: relation, local: false, method: "delete") do |f| %>
                        <%= hidden_field_tag :music_id, relation.music.id %>
                        <%= hidden_field_tag :playlist_id, relation.playlist.id %>
                        <%= hidden_field_tag :relation_id, relation.id %>
                        <%= button_tag type: :submit, class: "like-btn", id: "delete#{number}", onclick: "trDelete(#{number})" do %>
                            <p class="delete-btn">削除</p>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
        <%number += 1%>
    <% end %>
</div>
