=form_with(model: [album, music], local: local) do |form|
  .row
    .col-5
      .row.mb-2
        .col-2.col-form-label 曲名*
        .col= form.text_field :name, class: "form-control"
      .row
        .col-2.col-form-label 名義*
        .col= form.text_field :artist_name, class: "form-control", list: 'artist-list', value: music.artist&.name
      .row.mb-2
        .col-2
        .col.form-text 名義が存在しない場合は下のフォームから追加してください。
      %datalist#artist-list
        - @artists.each do |artist|
          %option{value: artist.name}
      .row.mb-2
        .col-2.col-form-label Tr.
        .col= form.number_field :track, class: "form-control", min: 0
      .row.mb-2
        .col-2
        .col.form-text 曲順が決まっていない場合は適当な数字で登録してください。
      .row
        .col-2.col-form-label 音源
        .col= form.file_field :audio, class: "form-control", accept: "audio/mpeg"
      = hidden_field_tag :at_album_show, at_album_show
      .row
        .col-2
        .col= music&.audio&.attached? ? "audioが存在します" : "audioが存在しません"
    .col
      .row.h-100
        .col-1.col-form-label その他
        .col.h-100= form.text_area :index_info, class: "form-control h-100", placeholder: "ジャンル：□□□\nBPM：△△△\nコメント：▽▽▽\n歌詞：～～\nのように記述してください。"
  .row.mt-3
    .overflow-hidden.col=button_tag action, type: :submit, class: "btn btn-primary float-end", data: { confirm: confirm }

- if !edit
  .mt-2
    =form_with(model: Artist.new, local: false) do |form|
      .col-2.form-label=form.label :"新規名義*", class: "mt-"
      =form.text_field :name, class: "form-control"
      .col-2.form-label=form.label :bio, class: "mt-2"
      =form.text_field :bio, class: "form-control"
      .col.overflow-hidden.mt-3
        .col.overflow-hidden=button_tag "名義を追加", type: :submit, class: "btn btn-primary float-end", data: { confirm: confirm }

- if edit && current_user.admin?
  %button.btn.btn-danger.float-end.mt-3= link_to '削除', album_music_path(album, music), method: :delete, data: { confirm: "本当に消しますか" }, class: "text-white"

