.music-info.rounded.d-flex
  .album-info-jaket.m-4.d-inline-block
    = image_tag(@music.album.jacket.variant(resize: "300").processed, class: "album-jaket-img")
  .d-inline-flex.flex-column.justify-content-center
    = link_to(@music.album.name, "/albums/#{@music.album.id}")
    %h2= @music.name
    %h3= @music.artist
    .like-add-playlist
      - if @like = Like.find_by(user_id: current_user.id, music_id: @music.id)
        #like0.d-inline-block= render "shared/unlike", like: @like , like_index: false, number: "0"
      - else
        #like0.d-inline-block= render "shared/like", unliked_music: @music, like_index: false, number: "0"
      .add-playlist.d-inline-block
        .add_playlist-point
          %i.fa-solid.fa-plus.fa-config
        .select-playlists.d-none
          .select-playlists-close.m-1
            %i.fa-solid.fa-xmark.fa-config
          %ul
            - @playlists.each do |playlist|
              %li
                = form_with(model: MusicPlaylistRelation.new, local: false) do |f|
                  = hidden_field_tag :music_id, @music.id
                  = hidden_field_tag :playlist_id, playlist.id
                  = hidden_field_tag :at_playlist_show, false
                  = button_tag type: :submit, class: "text-start border-0 bg-transparent" do
                    = playlist.name
      .btn.btn-danger
        =link_to "削除", [@album, @music], method: :delete, data: { confirm: "本当に消しますか" }

.row.mt-4
  .col
    %h2 コメント
    .comment-item
      - if current_user == User.find(2)
        %div kitchonkun以外でログインするとコメントができます
      - else
        .comment-form
          = form_with(model: Comment.new, local: false) do |f|
            %div= hidden_field_tag :music_id, @music.id
            = f.text_area :content, class: "comment-textarea"
            = f.submit "送信", class: "comment-submit"
      %ul#comments
        - @comments.each do |comment|
          %li.comment-user
            = comment.user.name + " "
            = comment.created_at.strftime("%F %R")
          %li.comment-content= comment.content
  .col
    %h2
      = @music.artist
      の曲
    %ul
      - @artistsmusics.each do |music|
        %li
          .musics-suggested
            .jacket-s= image_tag(music.album.jacket.variant(resize: "300").processed, class: "musics-suggested-jacket", width: "50px")
            .suggestion-wrap= link_to("#{music.name}", album_music_path(music.album, music), class: "name-s")
