<div class="music-info">
    <div class="album-info-jaket">
        <%= image_tag(@music.album.img_path, class: "album-jaket-img") %>
    </div>
    <div class="music-info-right">
        <%= link_to(@music.album.name, "/albums/#{@music.album.id}")%>
        <h2><%= @music.name%></h2>
        <h3><%= @music.artist%></h3>
        <audio controlslist="nodownload" controls src="/assets/<%=@music.audio_path%>"></audio>
        <% if Like.find_by(user_id: current_user.id, music_id: @music.id) %>
            <%= link_to("/likes/#{@music.id}/destroy", {method: "delete"}) do %>
                <span class="fa fa-heart liked-btn"></span>
            <% end %>
        <% else %>
            <%= link_to("/likes/#{@music.id}/create", {method: "post"}) do%>
                <span class="fa fa-heart unliked-btn"></span>
            <% end %>
        <% end %>
    </div>
</div>