<div class="music-info">
    <div class="album-info-jaket">
        <%= image_tag(@music.album.img_path, class: "album-jaket-img") %>
    </div>
    <div class="music-info-right">
        <%= link_to(@music.album.name, "/albums/#{@music.album.id}")%>
        <h2><%= @music.name%></h2>
        <h3><%= @music.artist%></h3>
        <div class="audio-like-playlist">
            <div class="audio-player">
                <audio src=<%= @url %> controlslist="nodownload" controls id="audio"></audio>
            </div>
            <div id="like-form-<%=@music.id%>" class="music-like">
                <% if @like = Like.find_by(user_id: current_user.id, music_id: @music.id) %>
                    <%= render "shared/unlike", like: @like , like_index: false %>
                <% else %>
                    <%= render "shared/like", unliked_music: @music, like_index: false %>
                <% end %>
            </div>
            <div class="add-playlist">
                <p class="add_playlist-point">…</p>
                <div class="select-playlists">
                    <div class="select-playlists-close">
                        <p>x</p>
                    </div>
                    <% @playlists.each do |playlist| %>
                        <div>
                            <%= form_with(model: MusicPlaylistRelation.new, local: false) do |f| %>
                                <%= hidden_field_tag :music_id, @music.id %>
                                <%= hidden_field_tag :playlist_id, playlist.id %>
                                <%= hidden_field_tag :at_playlist_show, false %>
                                <%= button_tag type: :submit, class: "like-btn" do %>
                                    <p class="playlist-name"><%=playlist.name%></p>
                                <% end %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="music-containner-sita">

    <div class="music-comments">
        <h2>コメント</h2>
        <div class="comment-item">
            <% if current_user == User.find(2) %>
                <div>kitchonkun以外でログインするとコメントができます</div>
            <% else %>
                <div class="comment-form">
                    <%= form_with(url: "/comments/create", scope: :comment, local: true) do |f| %>
                        <div><%= hidden_field_tag :music_id, @music.id %></div>
                        <%= f.text_area :content, class: "comment-textarea" %>
                        <%= f.submit "送信", class: "comment-submit" %>
                    <% end %>
                </div>
            <% end %>
            <ul>
                <% @comments.each do |comment| %>
                        <li class="comment-user" ><%= comment.user.name %>   <%= comment.created_at%></li>
                        <li class="comment-content"><%= comment.content %></li>
                <% end %>
            </ul>
        </div>
    </div>
    <div class="music-suggest">
        <h2><%= @music.artist %>の曲</h2>
        <ul>
            <%@artistsmusics.each do |music| %>
                <li>
                    <div class="musics-suggested">
                        <div class="jacket-s"><%= image_tag(music.album.img_path, class: "musics-suggested-jacket", width: "50px") %></div>
                        <div class="suggestion-wrap"><%= link_to("#{music.name}", "/musics/#{music.id}", class: "name-s") %></div>
                    </div>
                </li>
            <%end%>
        </ul>
    </div>
</div>
<script>
    var audio = document.getElementById('audio');
    audio.volume = 0.08;
</script>