-provide(:title, @music.name)
.music-info.rounded.d-flex.border-2.border-dark
  .album-info-jaket.m-4.d-inline-block
    -if @album.jacket.attached?
      .jacket-big= image_tag(@music.album.jacket_middle, class: "album-jaket-img")
      .jacket-small= image_tag(@album.jacket_middle ,class: "album-item", width: "130px")
    - else
      .position-relative
        = image_tag("kakukiti" ,class: "album-jaket-img position-relative")
        .h4.position-absolute.top-50.start-50.translate-middle.bg-primary.text-white.p-3= @album.name      

  .d-inline-flex.flex-column.justify-content-center.m-3
    = link_to @music.album.name, album_path(@music.album)
    = @album.kiki_taikai_date
    %h2= @music.name
    .h3=link_to @music.artist.name, artist_path(@music.artist)
    .like-add-playlist
      %div.d-inline-block{data:{music_id: @music.id, like_id: Like.find_by(music_id: @music.id, user_id: current_user.id)&.id}}
        - if @music.likes.find_by(user_id: current_user.id)
          %i.fa.fa-heart.liked-btn.delete-like-btn
        - else
          %i.fa.fa-heart.unliked-btn.create-like-btn
      .add-playlist.d-inline-block
        .add_playlist-point
          %i.fa-solid.fa-plus.fa-config
        .select-playlists.d-none
          .select-playlists-close.m-1
            %i.fa-solid.fa-xmark.fa-config
          %ul
            - @playlists.each do |playlist|
              %li
                = form_with(model: MusicPlaylistRelation.new, local: false) do |f|
                  = hidden_field_tag :music_id, @music.id
                  = hidden_field_tag :playlist_id, playlist.id
                  = hidden_field_tag :at_playlist_show, false
                  = button_tag type: :submit, class: "text-start border-0 bg-transparent" do
                    = playlist.name
      - if current_user.editor?
        .edit-delete-btn
          =link_to "編集", edit_album_music_path(@album, @music), class: "text-white btn btn-primary ms-3"
          - if current_user.role_admin?
            =link_to "削除", [@album, @music], method: :delete, data: { confirm: "本当に消しますか" }, class: "text-white btn btn-danger ms-3"

.row.mt-4
  .col
    %h2 コメント
    .comment-item
      - if current_user.role_kitchonkun?
        %div kitchonkun以外でログインするとコメントができます
      - else
        .comment-form
          = form_with(model: Comment.new, local: false) do |f|
            = f.hidden_field :music_id, value: @music.id
            = f.hidden_field :album_id, value: @album.id
            = f.text_area :content, class: "comment-textarea", required: :required
            = f.submit "送信", class: "btn btn-primary float-end mt-3"
      %ul#comments
        - @comments.each do |comment|
          %li.comment-user
            = comment.user.name + " "
            = comment.created_at.strftime("%F %R")
          %li.comment-content= comment.content
  .col
    %h2
      = @music.artist.name
      の曲
    %ul
      - @same_artist_musics.each do |music|
        %li
          .musics-suggested
            .jacket-s
              -if music.album.jacket.attached?
                = link_to(image_tag( music.album.jacket_small ,class: "jaket-mini", width: "50px"), album_path(music.album))
              -else
                = link_to(image_tag("kakukiti" ,class: "jaket-mini", width: "50px"), album_path(music.album))
            .suggestion-wrap= link_to("#{music.name}", album_music_path(music.album, music), class: "name-s")
