-provide(:title, @daikichi.name)
.album-info.mb-4
  .album-info-jaket
    - if @daikichi.jacket.attached?
      .jacket-big= image_tag(@daikichi.jacket_middle ,class: "album-jaket-img")
      .jacket-small= image_tag(@daikichi.jacket_middle ,class: "album-item", width: "130px")
    - else
      .position-relative
        .jacket-big= image_tag("kakukiti" ,class: "album-jaket-img opacity-50 position-relative")
        .jacket-small= image_tag("kakukiti" ,class: "album-item", width: "130px")

  .album-info-text
    %div.ms-5
      .album-name-big
        %h1= @daikichi.name
      .album-name-small
        %h6= @daikichi.name
      %h6.mt-3= @daikichi.counting_votes_date
      - if !@daikichi.designer.nil?
        %h6.mt-3
          Designed by 
          =link_to @daikichi.designer.name, designer_path(@daikichi.designer)
   
.container-fluid.mb-4.h-auto.overflow-hidden
  -if current_user.editor?
    .add-edit.clearfix.mb-2
      .btn.btn-info#add-music.d-inline-block.me-2 曲を追加
      =link_to "大吉を編集", edit_daikichi_path(@daikichi), class: "btn btn-info me-2 d-inline-block"
    .download.clearfix.mb-2
      -# =link_to "インデックス情報ダウンロード", album_index_path(@daikichi), method: :post, class: "btn btn-info me-2 d-inline-block"
      -# =link_to "曲リストダウンロード", album_music_list_path(@daikichi), method: :post, class: "btn btn-info me-2 d-inline-block"

= render "musics/music", musics: @musics

-if current_user.editor?
  = javascript_include_tag 'music_new.js'
  = javascript_include_tag 'copy_link.js'
