= form_with model: @daikichi_form do |f|
  =render 'shared/errors', instance: @daikichi_form
  .row.mb-3
    .col-2.col-form-label 名前*
    .col= f.text_field :name, class: "form-control", required: :required
  .row.mb-3
    .col-2.col-form-label 3点の曲数*
    .col= f.number_field :three_point, class: "form-control", required: :required, min: 1, max: 999
  .row.mb-3
    .col-2.col-form-label 2点の曲数*
    .col= f.number_field :two_point, class: "form-control", required: :required, min: 1, max: 999
  .row.mb-3
    .col-2.col-form-label 1点の曲数*
    .col= f.number_field :one_point, class: "form-control", required: :required, min: 1, max: 999
  .row.mb-3
    .col-2.col-form-label 投票対象アルバム*
    .col
      - Album.all.where(released: true).order(:kiki_taikai_date).each do |album|
        .form-check
          %label.form-check-label
            =check_box_tag "daikichi_form[albums_for_voting][]", album.id, @daikichi_form.albums_for_voting.include?(album.id.to_s), class: 'form-check-input'
            =album.name
  .row.mb-3
    .col-2.col-form-label 投票期限*
    .col= f.date_select :accept_until, required: :required  
  .row.mb-3
    .col-2.col-form-label 投票フォームを閉じる
    .col= f.check_box :form_closed
  .row.mb-3
    .col-2.col-form-label 結果を今すぐ公開する
    .col= f.check_box :result_open
  .row.d-inline-block
    .col
      .col= f.submit action, class: "btn btn-primary"
