%nav.side-bar.border
  .side-bar-content.position-relative
    #close-side-bar
      %i.fa-solid.fa-xmark.fa-config.h1
    .side-bar-content-1.border-bottom.border-2.me-4
      = link_to "Kitchotify", root_path, id: "logo"
      %ul
        %li
          %span.icon
            %i.fa-light.fa-house.home-icon.fa-config
          = link_to "ホーム", root_path
        %li
          %span.icon
            %i.fa-regular.fa-heart.like-icon.fa-config
          = link_to "お気に入り", likes_path
        -if logged_in?
          %li#new-playlist
            %span.icon>
              %i.fa-light.fa-plus.pluse-icon.fa-config
            .ms-1.d-inline-block 新しいプレイリスト
        %li
          %span.icon
            %i.fa-solid.fa-users.fa-config
          = link_to "全てのユーザー", users_path
        %li
          %span.icon
            %i.fa-solid.fa-pen.fa-config
          = link_to "全てのアーティスト", artists_path
        %li
          %span.icon
            %i.fa-solid.fa-palette.fa-config
          = link_to "全てのデザイナー", designers_path
        %li
          %span.icon
            %i.fa-solid.fa-compact-disc.fa-config
          = link_to "全てのアルバム", albums_path
        %li
          %span.icon
            %i.fa-solid.fa-play.fa-config
          = link_to "全てのプレイリスト", playlists_path
        %li
          %span.icon
            %i.fa-solid.fa-question.fa-config
          = link_to "イントロクイズ", intro_quizzes_path
    -if logged_in?
      .side-bar-content-2
        %ul#playlists-side
          - current_user.playlists.each do |playlist|
            %li= link_to playlist.name, playlist_path(playlist), id: "playlist-#{playlist.id}"