<% if logged_in? %>
    <nav class="side-bar">
        <div class="side-bar-content">
            <div casll="side-bar-content-1">
                <%= link_to("Kitchotify", "/", id: "logo")%>
                <ul>
                    <li><span class="icon"><i class="fa-light fa-house home-icon fa-config"></i></span><%= link_to("ホーム", "/") %></li>
                    <% unless current_user == User.find(2) %>
                        <li><span class="icon"><i class="fa-regular fa-heart like-icon fa-config"></i></span><%= link_to("お気に入り", "/likes") %></li>
                        <li id="new-playlist"><span class="icon"><i class="fa-light fa-plus pluse-icon fa-config"></i></span>新しいプレイリスト</li>
                    <% end %>
                    <li><span class="icon"><i class="fa-solid fa-users fa-config"></i></span><%= link_to("全てのユーザー", "/users") %></li>
                    <li><span class="icon"><i class="fa-solid fa-play fa-config"></i></span><%= link_to("全てのプレイリスト", "/playlists") %></li>
                </ul>   
            </div>
            <div class="side-bar-content-2">
                <ul id="playlists-side">
                    <% current_user.playlists.each do |p| %>
                        <li><%= link_to(p.name, "/playlists/#{p.id}", id: "playlist-#{p.id}") %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>
<% else %>
    <nav class="side-bar">
        <div class="side-bar-content">
            <div casll="side-bar-content-1">
                <%= link_to("Kitchotify", "/", id: "logo")%>
                <ul>
                    <li><span class="icon"><i class="fa-light fa-house home-icon fa-config"></i></span><%= link_to("ホーム", "/") %></li>
                    <li><span class="icon"><i class="fa-regular fa-heart like-icon fa-config"></i></span><%= link_to("お気に入り", "/likes") %></li>
                    <li><span class="icon"><i class="fa-solid fa-users fa-config"></i></span><%= link_to("全てのユーザー", "/users") %></li>
                    <li><span class="icon"><i class="fa-solid fa-play fa-config"></i></span><%= link_to("全てのプレイリスト", "/playlists") %></li>
                </ul>   
            </div>
            <%# <div class="side-bar-content-2">
                <ul>
                    <li>プレイリスト1</li>
                    <li>プレイリスト2</li>
                    <li>プレイリスト3</li>
                </ul>
            </div> %>
        </div>
    </nav>
<% end %>