.top-bar.navbar
  .top-bar-left
    #open-side-bar
      %i.fa-solid.fa-grip-lines.text-white.tow-line
    = form_with(url: searches_path, scope: :search, method: :get, local: true,) do |f|
      = f.text_field :content, placeholder: "検索", required: :required

  .top-bar-right
    - if logged_in?
      = link_to "ログアウト", sessions_path, method: :delete, class: "btn btn-danger btn-sm float-end me-2"
      = link_to current_user.name, user_path(current_user),  class: "btn btn-light btn-sm float-end me-2"
      = form_with(model: current_user) do |form|
        = form.hidden_field :editor, value: !current_user.editor?
        =button_tag "エディターモード", type: :submit, class: "btn btn-sm float-end me-2 #{current_user.editor? ? 'btn-success' : 'btn-light'}"
      = link_to "アカウント作成", new_user_path, class: "btn btn-primary btn-sm float-end me-2" if current_user.admin_or_kitchonkun?
      
        
    - else
      = link_to "ログイン", new_sessions_path, class: "btn btn-primary btn-sm float-end me-2"

