.top-bar.navbar
  .top-bar-left
    #open-side-bar
      %i.fa-solid.fa-grip-lines.text-white.tow-line
    = form_with(url: searches_path, scope: :search, method: :get, local: true,) do |f|
      = f.text_field :content, placeholder: "検索"

  .top-bar-right
    - if logged_in?
      = link_to "ログアウト", sessions_path, {method: :delete}
      = link_to current_user.name, user_path(current_user)
    - else
      = link_to "ログイン", new_sessions_path

