!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Kitchotify
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    -# = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = include_gon
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css", :rel => "stylesheet"}/
    = favicon_link_tag 'favicon.ico'
  %body
    = render "playlists/new"
    .content
      = render "layouts/side_bar"
      = render "layouts/top_bar"
      .main-container
        - flash.each do |message_type, message|
          %div{:class => "alert alert-#{message_type}"}= message
        = yield
      = render "layouts/footer"
    #flash
    :javascript
      $(function(){
          $(".add_playlist-point").click(function(){
            $(this).siblings().show();
          });

          $('.select-playlists-close').click(function(){
            $(this).parent().parent().find(".select-playlists").hide();
          });

          $('#new-playlist').click(function(){
            $('.new-playlist').css("display", "flex");
          });

          $('.x').click(function(){
            $('.new-playlist').css("display", "none");
          });

          $('#edit-playlist').click(function(){
          $('.edit-playlist').css("display", "flex");
          });

          $('.x').click(function(){
          $('.edit-playlist').css("display", "none");
          });
      });
    - if !@infos.blank?
      = javascript_pack_tag 'audio_player.js', data: {"turbolinks" => false}

