<!DOCTYPE html>
<html>
  <head>
    <title>KichotifyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# FontAwesome読み込み %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <%= render "layouts/side_bar" %>
    <div class="main">
      <%= render "layouts/top_bar"%>
      <div class="main-container">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>   
        <%= yield %>
      </div>
    </div>
    <script>
        $(function(){
            $('#user').mouseenter(function(){
            $('#user-ddmenu').show();
            });

            $('html').click(function(){
            $('#user-ddmenu').hide();
            });

            $(".add_playlist-point").click(function(){
              $(this).siblings().show();
            });

            $('.select-playlists-close').click(function(){
              $(this).parent().parent().find(".select-playlists").hide();
            });
        });
    </script>
  </body>
</html>

